<div class="card">
    {{#with images.[0]}}
        <img class="card-img" src="{{url}}" />
    {{/with}}
    <div class="card-footer">
        <h3>{{name}}</h3>
        <button><a href="/tracks/{{id}}">View Tracks</a></button>
    </div>
</div>