<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Artist</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="formSearch">
        <form action="/artist-search" , method="GET">
            <label for="searchBar">Search:</label>
            <input type="text" name="searchBar" placeholder="Coldplay" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>

</html>